html{
    font-family:Arial,Sans-Serif;
    background: white;
    
  }
  p{
  
    text-align: center;
    font-size: 20px;
  }
  h1{
    color:light;
    font-size: 40px;
    text-align:left;
  }
  